<%
  # WOSoMP
  # Home / About
%>

<div class="row">
  <h2>About WOSoMP</h2>
  <p class="lead">What's the deal with this miraculous, hilarious, and exciting olympic event!?</p>
</div>

<div class="row">

  <div class="span7">
    <h2>Games &amp; Sports</h2>
    <p>
      At its heart, The Weekend Olympic Showdown of Massive Proportions -- better known was
      <strong>WOSoMP</strong> -- is an Olympic-style competition amongst friends in events
      known as <strong>faux sports</strong>. These sports are completely imagined by the event
      organized or offer modifications to existing games that add new twists and challenges.
    </p>
    <p>
      Each WOSoMP olympiad acts as its own standalone tournament, in which athletes and their
      teams compete in individual and team sports in the quest for medals. Typically, an olympiad
      offers between seven and ten sports to its competitors, spread near-equally between
      individual skill challenges and team competitions.
    </p>

    <p style="text-align:center; font-size:12px;">
      <%=image_tag "history/fields.jpg", :alt=>"Boomshakalaka Ball Players", :style=>"width:80%;"-%><br/>
      Athletes take the field for <em>Boomshakalaka Ball</em> at WOSoMP 2007
    </p>

    <h2>Your Team is Your Country</h2>
    <p>
      Like the Olympics, each athlete represents a home team. When registerring foreach WOSoMP
      event, athletes select their team. During the games, they'll wear the colors of their home
      team as they play throughout the day.
    </p>
    <p>
      For competition sports, athletes will form smaller groups formed from players on their parent
      team, so choosing a fun and capable team is an important factor in overall success.
    </p>

    <p style="text-align:center; font-size:12px;">
      <%=image_tag "history/winner.jpg", :alt=>"Greg Sydlowski, winner", :style=>"width:40%;"-%>
      <%=image_tag "history/colin.jpg", :alt=>"Colin McCloskey, organizer", :style=>"width:40%;"-%>
      <br/>
      2007 Best Overall Athlete <em>Greg Sydlowski</em>
      and event organizer <em>Colin McCloskey</em>
    </p>

    <h2>Why Does it Cost Money?</h2>
    <p>
      Putting together a WOSoMP Olympiad requires efforts as far ranging as designing new sports
      and coordinating registration, uniform orders, equipment, and refreshments for dozens of
      athletes and fans.
    </p>
    <p>
      WOSoMP is a non-profit event. Registration costs go directly to providing athletes with
      customized, team-specific uniforms, sporting equipment, awards and medals, and refreshments
      including water, beer, and food. Past events have operated at a small loss in order to keep
      fees paid by participants as low as possible.
    </p>

    <% if next_olympiad.is_registering? %>
    <p>&nbsp;</p>
    <p style="text-align:center;">
      So, if you've heard enough about it, why not sign up to play!?<br/><br/>
      <%=link_to "Register for #{next_olympiad.name} Now!", register_olympiad_path(next_olympiad), :class=>"btn btn-success btn-large"%></p>
    </p>
    <% end %>
  </div>

  <div class="span4 offset1" style="text-align:center; font-size: 12px;">
    <p>
      <%=image_tag "history/logo2007.jpg", :alt=>"WOSoMP 2007 Logo", :style=>"width:85%;" %>
    </p>
    <p>
      The first WOSoMP event was held in September 2007 in Branchburg, NJ. Attended by over
      30 athletes, the tournament offered nine sports, though a handful were rained out or
      delayed. Events included
    </p>

    <p><%=image_tag "history/athletes.jpg", :alt=>"Athletes Harland Westgate, Jess Victor, Tony Bacigalupo, and John Harrold", :style=>"width:85%;" %></p>
    <p>
      The Fall 2007 WOSoMP was contested by over 30 athletes representing eight teams. The
      championship trophy was award to "The Independents," at team composed of walk-up athletes.
    </p>

    <p><%=image_tag "history/medals.jpg", :alt=>"Awards and Medals", :style=>"width:85%;" %></p>
    <p>
      Athletes and teams compete for medals, which are awarded for performance in every event.
      Also, trophies are awarded to the Best Overall Athletes, both male and female. Teams are
      competing, on the heels of their member athletes, to win the Championship Trophy, awarded
      to the team with the best overall combined performance during the olympiad.
    </p>
    <p>&nbsp;</p>


  </div>

</div>
