<%
  # WOSoMP
  # Home / Index
-%>

<div class="row">

  <div class="span6 blurb">
    <%=image_tag "olympic_blurb.png", :alt=>"Olympics" -%>
    <h3>Olympic Competition</h3>
    <p>
      The Weekend Olympic Showdown of Massive Proportions is an
      <%=link_to "Olympic-style tournament", about_path -%>
      where athletes compete in <em>faux sports</em> - either completely
      new games dreamt up by organizers or classic games with a new twist.
    </p>
  </div>

  <div class="span6 blurb">
    <%=image_tag "sports_blurb.png", :alt=>"Sports" -%>
    <h3>Eight Crazy Sports</h3>
    <p>
      Each year, the events change. There are some old favorites and some new
      beasts springing from the minds of organizers all of the time!
      <%=link_to "This year's eight sports", events_olympiad_path(featured_olympiad)-%>
      require a challenging balance of individual skill and teamwork to succeed.
    </p>
  </div>

</div><!--/.row-->

<div class="row">
  <div class="span6 blurb">
    <%=image_tag "team_blurb.png", :alt=>"Team" -%>
    <h3>Friend, Family, Country</h3>
    <p>
      At WOSoMP, sign up as a full-fledged athlete or
      an official fan/supporter. Register for one of our four teams and
      <%=link_to "treat that team like your home country", olympiad_teams_path(featured_olympiad) -%>.
      You'll wear a custom uniform in your team's color and with your name and number on back.
    </p>
  </div>

  <div class="span6 blurb">
    <%=image_tag "awards_blurb.png", :alt=>"Awards" -%>
    <h3>Awards &amp; Beer</h3>
    <p>
      Gold, silver, and bronze medals are awarded for each event and
      trophies are awarded to the top male and female athletes and overall
      champion team. But, hey! If you don't take home the prize, there's always the included
      beer!
    </p>
  </div>
</div><!--/.row-->

<hr/>


<div class="row" style="text-align:center;">
  <%= render "home/major_enticement" %>
</div>
