<%
  # WOSoMP
  # Live / Checkin Search - Results page displaying all users matching a search
-%>


<ul>
  <% @users.each do |user| %>
  <li>
    <% if reg = user.registrations.where(:olympiad_id=>@olympiad.id).first %>
      <%= reg_icon(reg, "pull_left") %>
      <strong><%= user.name -%></strong><br/>
      <%= reg.team.name -%> (<%= reg.team.shirt_color -%>) -
      <%= reg.uniform_size -%> -
      <%= reg.uniform_number -%> -
      <%= reg.uniform_name -%>
      <%= link_to "Check-In", "#", :class=>"btn btn-success" -%>
    <% else %>
      <strong><%= user.name %></strong> (Not pre-registered. <%=link_to "Register", register_olympiad_path(@olympiad), :class=>"btn btn-primary" -%>)
    <% end %>
  </li>
  <% end # users.each %>
</ul>
