<%
  # WOSoMP LIVE
  # Index View Template
-%>


<div id="team-rank" class="span8">
  <% @teams.each do |team| -%>
  <div class="progress" id="rank-team-<%=team.id-%>" data-score="<%=team.points_total-%>" data-count="<%=team.count_total-%>" style="background:<%=team.color1_code-%>;">
    <span class="name" style="color:<%=team.color2_code-%>;">
      <%= team.name %> (<%=team.points_total-%> pts)
    </span>
    <div class="bar bar-gold" data-score="<%=team.points_gold-%>" data-count="<%=team.count_gold-%>" title="<%=team.count_gold-%> Gold"></div>
    <div class="bar bar-silver" data-score="<%=team.points_silver-%>" data-count="<%=team.count_silver-%>" title="<%=team.count_silver-%> Silver"></div>
    <div class="bar bar-bronze" data-score="<%=team.points_bronze-%>" data-count="<%=team.count_bronze-%>" title="<%=team.count_bronze-%> Bronze"></div>
  </div>
  <% end # teams %>
</div> <!--/#team-rank-->

<div id="athlete-rank" class="span8">
  <% @registrations.each do |reg| -%>
  <% if team = reg.team %>
  <div class="progress" id="rank-athlete-<%=reg.id-%>" data-score="<%=reg.points_total-%>" data-count="<%=reg.count_total-%>" style="background:<%=team.color1_code-%>;">
    <span class="name" style="color:<%=team.color2_code-%>;">
      <%= reg.uniform_name %> (<%=reg.points_total-%> pts)
    </span>
    <div class="bar bar-gold" data-score="<%=reg.points_gold-%>" data-count="<%=reg.count_gold-%>" title="<%=reg.count_gold-%> Gold"></div>
    <div class="bar bar-silver" data-score="<%=reg.points_silver-%>" data-count="<%=reg.count_silver-%>" title="<%=reg.count_silver-%> Silver"></div>
    <div class="bar bar-bronze" data-score="<%=reg.points_bronze-%>" data-count="<%=reg.count_bronze-%>" title="<%=reg.count_bronze-%> Bronze"></div>
  </div>
  <% end # if team %>
  <% end # registrations %>
</div> <!--/#athlete-rank-->



<% content_for :javascripts do %>
<script type="text/javascript">

  function updateLeaderBoard() {
    var $board = $("#team-rank");

    // Find the top score
    var topScore = 0;
    $board.find(".progress").each(function(idx, el){
      var thisScore = parseInt( $(this).attr("data-score") );
      if (thisScore > topScore) { topScore = thisScore; }
    });
    console.log("Top score on the board: "+topScore);

    // Set the team total widths according to their point totals:
    $board.find(".progress").each(function(idx, el){
      var thisScore = parseInt( $(this).attr("data-score") );
      $(this).css("width", parseInt(thisScore / topScore * 100)+"%" );
    });
    console.log("Team total widths set.");

    // Set the medal widths by score percentage:
    $board.find(".progress .bar").each(function(idx, el){
      var $medalBar = $(this);
      var $totalBar = $medalBar.parent();
      // var totalCount = parseInt( $totalBar.attr("data-count") );
      // var thisCount = parseInt( $medalBar.attr("data-count") );
      // $medalBar.css("width", parseInt(thisCount / totalCount * 100)+"%");
      var totalScore = parseInt( $totalBar.attr("data-score") );
      var thisScore = parseInt( $medalBar.attr("data-score") );
      $medalBar.css("width", parseInt(thisScore / totalScore * 100)+"%");
    });
    console.log("Medal widths set");
  }

  $(function(){
    updateLeaderBoard();
  });

</script>
<% end %>

