
  <h1 style="color:#303030;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;text-align:center;">
    You are registered for WOSoMP <%=@olympiad.name-%>
  </h1>
  <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#666;line-height:1.4;">
    That's right, you're all signed up. Good to go! And we couldn't be happier to
    have you on board. Here are the details for your registration, which
    <a href="http://wosomp.com/olympiads/kennett-2013/registration?utm_source=emailConfirm&utm_medium=email&utm_campaign=Kennett2013&utm_content=LINK_TOP">you can also review at our site</a>:
  </p>

  <% if @registration.uniform_shirt? %>
  <p style="text-align:center;">
    <a href="http://wosomp.com/olympiads/kennett-2013/registration?utm_source=emailConfirm&utm_medium=email&utm_campaign=Kennett2013&utm_content=SHIRT_IMAGE">
      <%=image_tag @registration.shirt_asset_path(), :border=>"0", :style=>"border-radius:5px;border:1px solid #CCC;" %>
    </a>
  </p>
  <% end # if %>

  <table border="0" cellspacing="0" cellpadding="0" class="registration-table" style="border: 1px solid #CCC; border-radius: 5px; margin: 0 0 2em; width: 95%;">
  <tbody>
    <tr>
      <th style="border-color:#CCC;border-style: solid;border-width: 0 1px 1px 0;padding: 0.5em; background:#DDD;font-weight:bold;text-align:left;vertical-align:top;width:33%;">Your Name</th>
      <td style="border-color:#CCC;border-style: solid;border-width: 0 0 1px 0;padding: 0.5em;text-align:left;"><%=@registration.user.name-%></td>
    </tr>
    <tr>
      <th style="border-color:#CCC;border-style: solid;border-width: 0 1px 1px 0;padding: 0.5em; background:#DDD;font-weight:bold;text-align:left;vertical-align:top;width:33%;">Your Email</th>
      <td style="border-color:#CCC;border-style: solid;border-width: 0 0 1px 0;padding: 0.5em;text-align:left;"><%=link_to @registration.user.email, "mailto:#{@registration.user.email}"-%></td>
    </tr>
    <tr>
      <th style="border-color:#CCC;border-style: solid;border-width: 0 1px 1px 0;padding: 0.5em; background:#DDD;font-weight:bold;text-align:left;vertical-align:top;width:33%;">Your Birthday</th>
      <td style="border-color:#CCC;border-style: solid;border-width: 0 0 1px 0;padding: 0.5em;text-align:left;"><%=@registration.user.birthday.try(:strftime, "%B %0d, %Y")-%></td>
    </tr>
    <tr>
      <th style="border-color:#CCC;border-style: solid;border-width: 0 1px 1px 0;padding: 0.5em; background:#DDD;font-weight:bold;text-align:left;vertical-align:top;width:33%;">Your Gender</th>
      <td style="border-color:#CCC;border-style: solid;border-width: 0 0 1px 0;padding: 0.5em;text-align:left;text-transform:capitalize;">
        <%=@registration.user.gender-%>
      </td>
    </tr>

    <% if @registration.athlete? || @registration.uniform_shirt? %>
      <% if @registration.team %>
      <tr>
        <th style="border-color:#CCC;border-style: solid;border-width: 0 1px 1px 0;padding: 0.5em; background:#DDD;font-weight:bold;text-align:left;vertical-align:top;width:33%;">Your Team</th>
        <td style="border-color:#CCC;border-style: solid;border-width: 0 0 1px 0;padding: 0.5em;text-align:left; font-weight:bold; background-color:<%=@registration.team.color1_code-%>; color:<%=@registration.team.color2_code-%>">
          <%=@registration.team.name-%>
        </td>
      </tr>
      <tr>
        <th style="border-color:#CCC;border-style: solid;border-width: 0 1px 1px 0;padding: 0.5em; background:#DDD;font-weight:bold;text-align:left;vertical-align:top;width:33%;">Team Role</th>
        <td style="border-color:#CCC;border-style: solid;border-width: 0 0 1px 0;padding: 0.5em;text-align:left;"><%=@registration.role.capitalize-%></td>
      </tr>
      <% end # if %>

      <% if @registration.athlete? -%>
      <tr>
        <th style="border-color:#CCC;border-style: solid;border-width: 0 1px 1px 0;padding: 0.5em; background:#DDD;font-weight:bold;text-align:left;vertical-align:top;width:33%;">Uniform Name</th>
        <td style="border-color:#CCC;border-style: solid;border-width: 0 0 1px 0;padding: 0.5em;text-align:left;"><%=@registration.uniform_name-%></td>
      </tr>
      <tr>
        <th style="border-color:#CCC;border-style: solid;border-width: 0 1px 1px 0;padding: 0.5em; background:#DDD;font-weight:bold;text-align:left;vertical-align:top;width:33%;">Uniform Number</th>
        <td style="border-color:#CCC;border-style: solid;border-width: 0 0 1px 0;padding: 0.5em;text-align:left;"><%=@registration.uniform_number-%></td>
      </tr>
      <% end # athlete? -%>

      <tr>
        <th style="border-color:#CCC;border-style: solid;border-width: 0 1px 1px 0;padding: 0.5em; background:#DDD;font-weight:bold;text-align:left;vertical-align:top;width:33%;">Shirt Size</th>
        <td style="border-color:#CCC;border-style: solid;border-width: 0 0 1px 0;padding: 0.5em;text-align:left;"><%=@registration.uniform_size-%></td>
      </tr>
    <% end # if %>

  </tbody>
  </table>

  <p>&nbsp;</p>
  <h1 style="color:#303030;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;text-align:center;">
    So what's next, you may ask!?
  </h1>
  <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#666;line-height:1.4;">
    That's easy! Now that you're signed up and on a team, it's all about preparation!
    <a href="http://wosomp.com/?utm_source=emailConfirm&utm_medium=email&utm_campaign=Kennett2013&utm_content=LINK_MORE_TO_LEARN">
      There's always more to learn
    </a>
    about this craziness, so check out our site and start preparing:
  </p>
  <ol style="text-align:left; padding-left:2em;">
    <li>
      <b>Set aside $<%=@registration.fee-%> for your registration fee</b> and bring it <b>CASH</b> to the event.
      This covers your shirt, food, drink, and fun for the event.
    </li>
    <li><b>Mark 10:00am on <%=@olympiad.begins_at.strftime("%B %-d")%> on your calendar</b> so you don't forget.</li>
    <li>
      <b>Research the
      <a href="http://wosomp.com/olympiads/kennett-2013/location?utm_source=emailConfirm&utm_medium=email&utm_campaign=Kennett2013&utm_content=LOCATION_NOTE">
        event location in <%=@olympiad.city_state-%>
      </a></b>
      ahead of time and plan your route like champ.</li>
    </li>
    <li><b>Wait excitedly</b> for the day by training and plotting.</li>
  </ol>
  <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#666;line-height:1.4;">
    <b>We are extremely excited</b> to have you on board and can't wait to rock it at WOSoMP with
    you! If you have questions or concerns, reach us on Facebook or Twitter. Though you probably
    know who we are in person, so you can reach out to us over email and phone if that floats your
    boat.
  </p>
  <p>&nbsp;</p>
  <h1 style="color:#303030;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;text-align:center;">
    Do you know any Johnny-come-latelies?
  </h1>
  <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#666;line-height:1.4;">
    If you have any friends who are less cool and punctual than you, it might be worthwhile to
    <a href="http://wosomp.com/olympiads/kennett-2013/location?utm_source=emailConfirm&utm_medium=email&utm_campaign=Kennett2013&utm_content=LINK_LATE_REG">
      let them know day-of walk-on registration is possible
    </a>.
    They won't get the awesome uniform you will, and they might not be able to pick and choose their
    team specifically, but they can participate. We welcome walk-ons, so there's still time to let
    your friends know about WOSoMP!
  </p>
