
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="box span6">
        <%=image_tag "wosomp_shield.png", :class=>"logo" %>
        <%=link_to "Home", home_path %> <br/>
        <% if featured_olympiad.registration_begins_at <= DateTime.now %>
          <%=link_to "Register", register_olympiad_path(featured_olympiad), :style=>"color:#FFD700" %> <br/>
        <% end %>
        <%=link_to "About", about_path %> <br/>
        <%=link_to "Location", location_olympiad_path(featured_olympiad) %> <br/>
        <%=link_to "Events", events_olympiad_path(featured_olympiad) %> <br/>
        <% if current_user %>
          <%=link_to("Logout", destroy_user_session_path, :method=>"delete")-%>
          <% if current_user.admin? %>
            • <%=link_to "Admin", admin_root_path %><br/>
          <% end %>
        <% else %>
          <%=link_to("Log In", new_user_session_path)-%>
        <% end %>
      </div>
      <div class="box span6 pull-right">
        <%=link_to image_tag("sponsor_awexome.png", :title=>"Web presence built by Awexome Labs"), "http://awexomelabs.com/",:target=>"_blank" -%><br/><br/>

        &copy; 2013 WOSoMP <br/>
        <small>
          <%=link_to "Facebook", "http://facebook.com/wosomp" -%> •
          <%=link_to "Twitter", "http://twitter.com/wosomp" -%> •
          <%=link_to "GitHub", "http://github.com/mccolin/wosomp" -%> •
          <%=link_to "Legalities", terms_path() -%> <br/>
        </small>
      </div>
    </div>
  </div>
</footer>
