<!DOCTYPE html>
<html>
<head>
  <title>Wosomp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <header id="header">
    <h1>WOSoMP</h1>
    <ul>
      <li><%=login_status%></li>
      <li><%=login_logout_link(:style=>"color:red;")%></li>
    </ul>
  </header>
  

<%= yield %>

</body>
</html>
