<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOSoMP 2013 - May 4 - Kennett Square, PA</title>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <link href="/favicon.ico" rel="shortcut icon">
    <link href="/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">

    <%= render "layouts/analytics" %>

    <!-- Head content below this comment inserted with yield:head hook -->
    <%= yield :head %>
  </head>
  <body class="inside">

    <div id="nav-wrapper" class="inside">
      <div class="container">
        <a href="<%=home_path()-%>"><h1 id="logo" class="inside"><span>WOSoMP 2013</span></h1></a>
        <ul id="top-nav" class="row">
          <%# top_nav_item("Home", home_path) -%>
          <%= top_nav_item("About", about_path) -%>
          <%= top_nav_item("Location", location_olympiad_path(next_olympiad)) -%>
          <%= top_nav_item("Events", events_olympiad_path(next_olympiad)) -%>
          <%= top_nav_item("Teams", olympiad_teams_path(next_olympiad)) -%>

          <% if next_olympiad.registration_begins_at <= DateTime.now %>
          <% if current_user && current_user.registered_for?(next_olympiad) %>
            <%= top_nav_item("Your Registration", registration_olympiad_path(next_olympiad), :class=>"feature pull-right") -%>
          <% else %>
            <%= top_nav_item("Register", register_olympiad_path(next_olympiad), :class=>"feature pull-right") -%>
          <% end %>
          <% end %>
        </ul><!--/.row-->
      </div><!--/.container-->
    </div>


    <div id="content-wrapper" class="container">
      <%= render_flash %>
      <%= yield %>
    </div> <!--/#content-wrapper-->


    <%= render "layouts/footer" %>

    <%= javascript_include_tag "application" %>
    <%= yield :javascripts %>

  </body>
</html>
