<%
  # WOSoMP
  # Olympiad / Registration / Team Wall
-%>

    <div id="team-wall" class="span7">
      <h3>Team Messages</h3>
      <p><em>Share strategy and group messages with your teammates.</em></p>
      <ul id="team-wall" class="wall">
        <%= render :partial=>"team_post", :collection=>@registration.team.posts.includes(:registration, :author).order("id DESC") %>
      </ul>
    </div> <!--/#team-wall-->

    <div class="span5">
      <h3>Add Post</h3>
      <p><em>Write a new wall post:</em></p>
      <%=form_for TeamPost.new, :url=>save_post_olympiad_team_path(@olympiad, @registration.team), :html=>{:method=>:post, :class=>"form-inline", :style=>"margin:0;"} do |f| %>
        <%= f.hidden_field :team_id, :value=>@registration.team.id %>
        <%= f.hidden_field :author_id, :value=>current_user.id %>
        <%= f.hidden_field :registration_id, :value=>@registration.id %>
        <%= f.text_area :body, :rows=>3, :class=>"input-xlarge", :style=>"width:80%;", :placeholder=>"Tell your teammates something awesome..." %>
        <br/>
        <%= f.submit "Post", :class=>"btn btn-primary", :style=>"margin-top: 0.5em;" %>
      <% end # form %>
    </div>
