<%
  # WOSoMP
  # Olympiad / Location
%>

<% content_for :head do %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
  <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
  <![endif]-->
<% end # head %>
<% content_for :javascripts do %>
  <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
  <script type="text/javascript">
    var map = L.map('map').setView([39.836799, -75.717516], 15);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    L.marker([39.836799, -75.717516]).addTo(map)
      .bindPopup( $("#location-info .address").first().html() )
      .openPopup();
  </script>
<% end # javascripts %>


<div class="row">
  <h1>Location</h1>
  <p>The <%=@olympiad.name-%> WOSoMP Olympiad will be held in <%=@olympiad.city_state%></p>
</div>

<div class="row">
  <div class="span8">
    <p>&nbsp;</p>
    <div id="map" style="height:220px;"></div>

    <h2>More About <%=@olympiad.location_name-%></h2>
    <p>
      <% unless @olympiad.location_info.blank? %>
        <%=simple_format @olympiad.location_info-%>
      <% else %>
        <em>Details, recommendations, and news regarding this venue are coming soon.</em>
      <% end %>
    </p>
    <hr/>
    <dl>
      <dt>Parking:</dt>
      <dd>
        Free Street Parking</br>
        <em>Note:</em> Cars parked against traffic will be ticketed. Please take care to
        not block any driveways or mailboxes and, if possible, <em>do not</em> park in front
        of 714 Wayne Ave as a consideration to our neighbors. Once the street immediately
        in front of 716 fills up, parking up the street on Mill Road is plentiful.
      </dd>

      <dt>Distances:</dt>
      <dd>
        14 miles from Newark, DE<br/>
        37 miles from Philadelphia, PA<br/>
        113 miles from Washington, DC<br/>
        130 miles from New York, NY
      </dd>
    </dl>
  </div>
  <div id="location-info" class="span4">
    <h2>Details</h2>
    <p class="address">
      <%=@olympiad.location_address-%><br/>
      <%=@olympiad.city_state_zip%><br/>
      <%=link_to "Get Directions", "http://maps.google.com/maps?q=#{@olympiad.mappable_address}", :target=>"_blank"-%>
    </p>
    <dl>
      <dt>The Event:</dt>
      <dd>
        <%=@olympiad.begins_at.strftime("%A, %B %-d, %Y")-%> <br/>
        <%=@olympiad.begins_at.strftime("%I:%M%P")-%> to about <%=@olympiad.ends_at.strftime("%I:%M%P")-%>
      </dd>

      <dt>Pre-registration Period:</dt>
      <dd>
        Begins <%=@olympiad.registration_begins_at.strftime("%B %-d, %Y at %I:%M%P")-%><br/>
        Ends <%=@olympiad.registration_ends_at.strftime("%B %-d, %Y at %I:%M%P")-%>
        <% if !@olympiad.is_registering? -%>
          <br/><span style="color:#A00;">Closed! Pre-registration has passed.</span>
        <% end -%>
      </dd>

      <% if @olympiad.is_late_registration? %>
      <dt>Late Registration:</dt>
      <dd>
        <span style="color:#0A0;">Yes! You can sign up late!</span>
        We will have additional spots available <%=link_to "on our competition teams", olympiad_teams_path(@olympiad) -%>
        for walk-ups that arrive with registered participants. You will register on-site and, if supplies remain,
        will also receive a sweet competitor's jersey!<br/><br/>
        Athlete late registration is $<%=@olympiad.registration_fee-%> and spectators will be charged $<%=@olympiad.spectator_fee-%>.
      </dd>
      <% end %>
    </dl>
  </div>
</div>

<hr/>
<div class="row" style="text-align:center;">
  <%=render "home/major_enticement" %>
</div>

