<%
  # WOSoMP
  # Olympiad / Registration (container)
-%>

<div class="row">
  <h1>You Are Signed Up!</h1>
  <p class="lead">You are all booked up for the <%=@olympiad.name-%> WOSoMP event.</p>
</div>

<div class="row">
  <ul class="nav nav-tabs" id="tab-navigation" data-tabs="tabs">
    <li class="<%=@active_tab=="me" ? "active" : ""-%>"><a href="#me" data-toggle="tab">Your Info</a></li>
    <% if @registration.team -%>
      <li class="<%=@active_tab=="wall" ? "active" : ""-%>"><a href="#wall" data-toggle="tab">Team Wall</a></li>
    <% end %>
    <% if @registration.captain? %>
      <li class="<%=@active_tab=="team" ? "active" : ""-%>"><a href="#team" data-toggle="tab">Captain: Edit Team</a></li>
    <% end %>
  </ul>
</div>


<div class="tab-content">

  <!-- Personal Details -->
  <div class="row tab-pane <%=@active_tab=="me" ? "active" : ""-%>" id="me">
    <%= render "reg_personal" %>
  </div> <!--/#me-->

  <% if @registration.team -%>
  <div class="row tab-pane <%=@active_tab=="wall" ? "active" : ""-%>" id="wall">
    <%= render "reg_team_wall" %>
  </div> <!--/#wall-->
  <% end # if team %>


  <% if @registration.captain? -%>
  <!-- Captains Panel: Edit Team -->
  <div class="row tab-pane <%=@active_tab=="team" ? "active" : ""-%>" id="team" style="min-height:800px;">
    <%= render "reg_team_edit" %>
  </div> <!--/#team-->
  <% end # if captain? %>


</div> <!--/.tab-content-->
