<%
  # WOSoMP
  # Olympiads / Show
%>

<article class="olympiad" id="olympiad-<%=@olympiad.id-%>">
  Details about the <%=@olympiad.name%> WOSoMP Games.
</article>


<% content_for :sidebar do %>

  <div class="well" id="olympiad-date">
    <% if @olympiad.begins_at %>
      <h4><%=@olympiad.begins_at.strftime("%^b %d %Y")%></h4>
      <p>
        <% if @olympiad.is_live? %>
          That's now! <%=link_to "Watch Live Scores", "#"%>
        <% elsif @olympiad.is_registering? %>
          <%=link_to "Registration is Open", "#"%>
        <% elsif @olympiad.is_planning? %>
          We are still selecting the date for this Olympiad. <%=link_to "Suggest a Date", "#"%>.
        <% elsif @olympiad.is_past? %>
          This event is over. Thanks for the memories!
        <% else %>
          This event is coming soon. Stay tuned, here, for updates.
        <% end %>
      </p>
    <% end %>
  </div><!--/.well-->

  <div class="well" id="olympiad-location">
    <h4>Olympiad Host</h4>
    <% if @olympiad.location_name %>
      <address>
        <%=@olympiad.location_name%>
        <%=@olympiad.location_city%>, <%=@olympiad.location_state%>
      </address>
    <% else %>
      <p>
        We are researching host locations, now!<br/>
        <%=link_to "Recommend a Location", "#"%>
      </p>
    <% end %>
  </div><!--/.well-->

  <div class="well" id="olympiad-sponsors">
    <h4>Sponsors</h4>
    <p>
      We are still lining up sponsors for this event.
      <%=link_to "Learn More", "#"%>
    </p>
  </div><!--/.well-->

<% end %>
